<%= javascript_include_tag '//res.wx.qq.com/open/js/jweixin-1.0.0.js' %>
<% sign_package = WeixinAuthorize::Client.new(ENV['WECHAT_KEY'], ENV['WECHAT_SECRET']).get_jssign_package(request.url) %>

<script>
  wx.config({
    debug: false,
    appId: "<%= sign_package['appId'] %>",
    timestamp: "<%= sign_package['timestamp'] %>",
    nonceStr: "<%= sign_package['nonceStr'] %>",
    signature: "<%= sign_package['signature'] %>",
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      'hideMenuItems',
      'showMenuItems',
      'hideAllNonBaseMenuItem',
      'showAllNonBaseMenuItem',
      'translateVoice',
      'startRecord',
      'stopRecord',
      'onRecordEnd',
      'playVoice',
      'pauseVoice',
      'stopVoice',
      'uploadVoice',
      'downloadVoice',
      'chooseImage',
      'previewImage',
      'uploadImage',
      'downloadImage',
      'getNetworkType'
    ]
  });

  wx.ready(function () {
    $('img').click(function () {
      var img_src = $(this).prop("src");
      wx.previewImage({
        current: img_src,
        urls: [img_src]
      });
    });

		wx.onMenuShareAppMessage({
      title: "<%= @user.name %>",
      desc: '这是我的用户',
      link: "<%= user_path(@user) %>",
      imgUrl: "<%= @user.avatar %>",
    });
    wx.onMenuShareTimeline({
      title: "这是测试微信JSSKD的分享",
      link: "<%= user_path(@user) %>",
      imgUrl: "<%= @user.avatar %>",
    });
  });

  wx.error(function (res) {
    // alert(res);
  });
</script>

<div class="user-show">
  <p>
    <strong> Login Successfully! </strong>
  </p>
  <% if @user.avatar %>
    <%= image_tag(@user.avatar, width: 200, height: 200) %>
  <% else %>
    <p>
      <strong>Avatar:</strong> No avatar
    </p>
  <% end %>

  <p>
    <strong>Name:</strong> <%= @user.name %>
  </p>

  <p>
    <strong>Provide:</strong> <%= @user.provide %>
  </p>

  <p>
    <strong>Sex:</strong> <%= @user.sex %>
  </p>

  <p>
    <strong>Country:</strong> <%= @user.country %>
  </p>

  <p>
    <strong>Provice:</strong> <%= @user.provice %>
  </p>

  <p>
    <strong>City:</strong> <%= @user.city %>
  </p>
</div>
